In [27]:
x = [1,2,3]

In [5]:
x[1]

2

In [6]:
x[1] = 34

In [7]:
x

[1, 34, 3]

In [34]:
# a tuple is similar to a list, but used round parenthesis rather than square parenthesis
y = (1,2,3)

In [35]:
type(y)

tuple

In [9]:
# can index a tuple just like a list
y[1]

2

In [10]:
# can slice a tuple just like a list, but notice that the result is of type tuple
y[1:]

(2, 3)

In [11]:
# can iterate though the elements of a tuple (just like a list)
for i in y:
    print(i)

1
2
3

In [12]:
# the elements of a tuple can be of different types
y = (1,'string',[3,(3,4)])

In [13]:
# the only thing you can't do to a tuple is update any of its values
y[1] = 3

TypeError: 'tuple' object does not support item assignment

In [15]:
# tuples are often used to represent coordinates, as in the following example that has a list of 2 dimensional coordinates
c = [(3, 5.6), (4,4), (5,6)]

In [16]:
c1 = (3, 5.6)

In [17]:
# can  extract the elements of a tuple using indexing
x = c1[0]

In [18]:
y = c1[1]

In [21]:
x

3

In [22]:
y

5.6

In [20]:
# or more elegantly extracting the elements by having a list of variable on the left side of the assignment statement
x,y = c1

In [23]:
x

3

In [24]:
y

5.6

In [25]:
# the number of variables on the left side needs to match the number of elements in the tuple
x,y,z = c1

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
x = [1,2,3]

In [29]:
# can also extract elements from a list in the same manner
# but more commonly done for tuples since we normally know precisely how many elements we expect to find in a particular tuple
a,b,c = x

In [30]:
a

1

In [31]:
b

2

In [32]:
c

3

In [ ]:
# try creating some examples of your own!