In [43]:
x = [3,7.13, 4+4j,True,[3,False]]

In [44]:
type(x)

list

In [45]:
# compute the length of the list
len(x)

5

In [46]:
# length of the empty list
len([])

0

In [47]:
# length of a list with just one element
len([4])

1

In [48]:
# can only compute the length of a list, not an integer
len(4)

TypeError: object of type 'int' has no len()

In [49]:
y = [1,2,3,4,5,6,7,8,9,10]

In [50]:
# concatenate elements of x followed by elements of y to create a new list
x + y

[3, 7.13, (4+4j), True, [3, False], 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
# note that above concatenation doesn't change the two lists
x

[3, 7.13, (4+4j), True, [3, False]]

In [52]:
y

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
z = x + y

In [54]:
len(z)

15

In [55]:
len(x)

5

In [56]:
len(y)

10

In [57]:
# Can't concatenate a list and a number
z = x + 4

TypeError: can only concatenate list (not "int") to list

In [58]:
# subtraction not defined on lists
z = x - y

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [59]:
# multiplication not defined on lists
z = x * y

TypeError: can't multiply sequence by non-int of type 'list'

In [60]:
# but we can multiply a list by an integer ...
# replicate the elements of x twice (2 times)
z = x * 2

In [61]:
z

[3, 7.13, (4+4j), True, [3, False], 3, 7.13, (4+4j), True, [3, False]]

In [62]:
# create 3 copies of list y
y * 3

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10]

In [63]:
# duplicate all elements in the empty list three times.
[] * 3

[]

# Slicing ...

In [64]:
# access a single element
y[3]

4

In [65]:
# access a slice of a list
# get elements starting at position 3, up to but not including position 6
y[3:6]

[4, 5, 6]

In [66]:
# access a slice of length zero
y[3:3]

[]

In [67]:
# notice that a slice is always a list
y[3:4]

[4]

In [68]:
# accessing a slice of length one is different to accessing an individual element
y[3]

4

In [69]:
# doesn't matter if  upper bound is greater than length
y[3:40]

[4, 5, 6, 7, 8, 9, 10]

In [70]:
# from position 3 to the end
y[3:len(y)]

[4, 5, 6, 7, 8, 9, 10]

In [71]:
# shorthand: from position 3 to the end
y[3:]

[4, 5, 6, 7, 8, 9, 10]

In [72]:
# from start to position 4
y[0:4]

[1, 2, 3, 4]

In [73]:
#  shorthand: from start
y[:4]

[1, 2, 3, 4]

In [74]:
# access every second elment from position 1 through to 8
y[1:8:2]

[2, 4, 6, 8]

In [75]:
# access every third element
y[1:8:3]

[2, 5, 8]

In [76]:
# updating a specific element of a list
y[1] = 34

In [77]:
y

[1, 34, 3, 4, 5, 6, 7, 8, 9, 10]

In [78]:
# updating a range of elements - the value assigned needs to be a list
y[1:4] = 34

TypeError: can only assign an iterable

In [79]:
# replace the elements at positions 1 through  4 with the values 4, 5 and 6
y[1:4] = [4,5,6]
y

[1, 4, 5, 6, 5, 6, 7, 8, 9, 10]

In [80]:
# can replace a range of elements by the empty list (which effectively removes those elements)
y[1:4] = []
y

[1, 5, 6, 7, 8, 9, 10]

In [81]:
# the list has got shorter
len(y)

7

In [82]:
# can replace a range of elements by a longer list
y[1:4] = [5,5,5,5,5,5,5]

In [83]:
y

[1, 5, 5, 5, 5, 5, 5, 5, 8, 9, 10]

In [84]:
y[10]

10

In [85]:
y[9:10]

[9]

In [86]:
y[10:11]

[10]

In [87]:
# can replace a range of length 0 by a list of values (effectively inserts those elements at that position)
y[10:10] = [88, 88, 88, 90]
y

[1, 5, 5, 5, 5, 5, 5, 5, 8, 9, 88, 88, 88, 90, 10]

In [88]:
# try creating some examples of your own!