In [1]:
# introducing a new type of value, a string.
print('here')

here

In [2]:
# type str is short for string
type('here')

str

In [3]:
# we can assign a string value to a variable
a = 'Hello World!'

In [4]:
a

'Hello World!'

In [5]:
# we can concatenate two string values together using the + operator
'Hello' + 'World'

'HelloWorld'

In [6]:
'Hello' + ' ' + 'World'

'Hello World'

In [7]:
# check to see if the string 'Word' is contained within the string 'Hello World'
'Word' in 'Hello World'

False

In [11]:
'Wor' in 'Hello World'

True

In [12]:
# note that strings are case sensitive, so the string 'Hello World' contains the string 'Wor', but not the string 'wor'
'wor' in 'Hello World'

False

In [9]:
# let's look at all the methods and properties of variable a (which currently contains a value of type string)
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [13]:
# create a new string where all the letters are converted to upper case
'hello'.upper()

'HELLO'

In [14]:
# only capitialize the first character in the string
'hello'.capitalize()

'Hello'

In [33]:
'hello world.'.capitalize()

'Hello world. fred'

In [35]:
help (a.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [16]:
# split the string into a list of strings by splitting where ever the space character is found
'hello world. fred'.split(' ')

['hello', 'world.', 'fred']

In [17]:
# split the string into a list of strings by splitting where ever the comma character is found
'hello world. fred'.split(',')

['hello world. fred']

In [18]:
'hello,world,fred'.split(',')

['hello', 'world', 'fred']

In [19]:
a

'Hello World!'

In [20]:
# access the character at position 4 within the string
a[4]

'o'

In [21]:
# negative indexes work backwards from the end of the string (just like with lists)
a[-4]

'r'

In [22]:
# return a slice of a string
a[2:5]

'llo'

In [23]:
# every second character from position 2 through to 5
a[2:5:2]

'lo'

In [24]:
# We can update elements of a list, but we can't update the characters of a string
# Strings are immutable, meaning they can't be changed once created
a[2] = '5'

TypeError: 'str' object does not support item assignment

In [25]:
# The replace method doesn't change the string in variable a, it creates a new string based on the string in variable a.
a.replace(' ', '_')

'Hello_World!'

In [26]:
# notice that the value of variable a has  not changed
a

'Hello World!'

In [27]:
# variable b contains a new string that was computed based on string a, but the strings in a and b are not the same
b = a.replace(' ', '_')

In [28]:
b

'Hello_World!'

In [29]:
a

'Hello World!'

In [30]:
# we can use a for loop to iterate through the characters in a string (just like with a list)
# lists and strings are both examples of something called an 'iterable' object in Python.
for ch in a :
    print(ch)

H
e
l
l
o

W
o
r
l
d
!

In [31]:
# Each of the characters in a string are also themselves strings (of length 1)
# There are not separate types for strings and characters, they are all just strings.
for ch in a :
    print(ch, type(ch))

H <class 'str'>
e <class 'str'>
l <class 'str'>
l <class 'str'>
o <class 'str'>
  <class 'str'>
W <class 'str'>
o <class 'str'>
r <class 'str'>
l <class 'str'>
d <class 'str'>
! <class 'str'>

In [32]:
type(a[2])

str

In [36]:
# How do we compute the length of a string ???

In [ ]:
# try creating some string examples of your own ...