In [1]:
# We can concatenate two string
'Hello' + 'World'

'HelloWorld'

In [2]:
# But we can't concatenate a number with strings
'Hello' + 23 + 'World'

TypeError: can only concatenate str (not "int") to str

In [3]:
# We need to first convert the number to a string using the str function
'Hello' + str(23) + 'World'

'Hello23World'

In [4]:
# The str function always returns a value of type str
type(str(23))

str

In [5]:
# The str function works for other types also, in this example a boolean expression
str(3 < 5)

'True'

In [6]:
# or convert a list into a string representation of that list
str([4,5,6])

'[4, 5, 6]'

In [ ]:
# Recall how we printed  the times table previously ...
for x in range(1,13) :
    for y in range(1,13) :
        print(x, 'x', y, '=', x*y)

In [ ]:
# To make the formatting clearer, we can instead specify a format string and then call the format method on that string
for x in range(1,13) :
    for y in range(1,13) :
        print('{0} x {1} = {2}'.format(x, y, x*y))

In [9]:
import math
'{0}'.format(math.pi)

'3.141592653589793'

In [10]:
math.pi

3.141592653589793

In [11]:
# A format string can be useful if we want to include other text such as the units of measurement in our output
'area: {0} metres'.format(math.pi * 3)

'area: 9.42477796076938 metres'

In [12]:
# We can also use the format string to display parameter 0 with a width of 10 and 4 digits after the decimal place
'area: {0:10.4f} metres'.format(math.pi * 3)

'area:     9.4248 metres'

In [13]:
# or with a width of 20 and 2 characters after the decimal place. Note that 'f' is for formatting floating point values
'area: {0:20.2f} metres'.format(math.pi * 3)

'area:                 9.42 metres'

In [14]:
# If we leave out the width parameter then it just uses whatever width is necesssary
'area: {0:.3f} metres'.format(math.pi * 3)

'area: 9.425 metres'

In [15]:
# We can also format more than one value
'area: {0:.3f} metres {1}'.format(math.pi * 3, 42)

'area: 9.425 metres 42'

In [16]:
# Here we are formatting both values in floating point format (format 'f')
'area: {0:.3f} metres {1:f}'.format(math.pi * 3, 42)

'area: 9.425 metres 42.000000'

In [17]:
# or we can format the number 42 in integer format (format 'd' for decimal)
'area: {0:.3f} metres {1:d}'.format(math.pi * 3, 42)

'area: 9.425 metres 42'

In [18]:
# Format the integer value with a width of 5
'area: {0:.3f} metres {1:5d}'.format(math.pi * 3, 42)

'area: 9.425 metres    42'

In [ ]:
# Now let's use our format method to revisit the times tables
for x in range(1,13) :
    for y in range(1,13) :
        print('{0:.2f} x {1} = {2}'.format(x, y, x*y))

In [ ]:
# The latest verion of Python introduces formatted string  literals which have an 'f' before the opening quote.
# See https://docs.python.org/3/tutorial/inputoutput.html
for x in range(1,13) :
    for y in range(1,13) :
        print(f'{x} x {y} = {x*y}')

In [ ]:
# If we forget to include the 'f', the content  of the string is not interpolated.
for x in range(1,13) :
    for y in range(1,13) :
        print('{x} x {y} = {x*y}')

In [ ]:
# The new formatted string literals also allow width and number of decimal places to be specified
for x in range(1,13) :
    for y in range(1,13) :
        print(f'{x:5.2f} x {y} = {x*y:4.1f}')

In [ ]:
# Try creating some examples of your own ...