

# Topic: Lists and FOR loops

## Python Concepts: 
* creating lists
* add to/delete from list
* indexing
* sorting
* slicing
* repetition and iteration
* raising exceptions
* filtering
* mapping

### Keywords
* <code>for</code>
* <code>in</code>
* <code>raise</code>

### Data Types
* <code>list</code>

### Built-In functions:
* <code>len</code>
* <code>sorted</code>
* <code>min</code>
* <code>max</code>
* <code>type</code>

### Methods:
* <code><i>list</i>.append</code>
* <code><i>list</i>.insert</code>
* <code><i>list</i>.index</code>
* <code><i>list</i>.sort</code>

<hr>

<u><b>EXERCISES:</b></u>
    <br>
[Lists](#lists)<br>
> [Temperature Records](#temp_records)
    <br>
  [Humidity Readings](#humidity_readings)


[FOR loops](#for_loops)<br>
> [Find Maximum Number](#find_maximum)
    <br>
  [Does List Contain](#does_list_contain)
    <br>
  [Out of Range?](#out_of_range)
    <br>
  [Filter Out of Range](#filter_out_of_range_break)
    <br>
  [a: In Range?](#in_range_break)
    <br>
  [Map Sum](#map_sum)

<hr>

<a name="lists"></a>
# Lists

<hr>
<a name="temp_records"></a>
<b>Q: Temperature Records</b>

In [ ]:
# This exercise involves using a Python list to store data temporarily.
# Imagine being involved in air quality control and needing to 
# keep track of temperatures over a certain period of time.
# Create a Python list, initially empty, to store those values.

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# You have determined that the current temperature is 10.1 degrees Celsius,
# so now add that value to the Python list.
# Hint:
# * the built-in method:
#       append
#   will add one value to the list.  That first value will then be stored
#   at position/index 0 of the list.

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# Print out that one temperature (not the entire list) by indexing into the list at position/index 0

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# Now add these 9 temperature readings in the same way:
#   11.0, 10.5, 10.2, 10.8, 100.6, 10.8, 10.5, 9.5, 8.3

# ADD YOUR CODE HERE

# Then print the value of your list to confirm that it now contains the following values:
#     [10.1, 11.0, 10.5, 10.2, 10.8, 100.6, 10.8, 10.5, 9.5, 8.3]

In [ ]:
# ------------------------------------------------------------------------
# A false reading has been identified which you now need to change.
# Instead of 100.6, the temperature should have been 10.6.
# Make that change to the 6th value in the list.

# ADD YOUR CODE HERE

# Then print the value of your list to confirm that it now contains the following values:
#     [10.1, 11.0, 10.5, 10.2, 10.8, 10.6, 10.8, 10.5, 9.5, 8.3]

In [ ]:
# ------------------------------------------------------------------------
# You now realise that the very first temperature reading has been missed in error.  
# Insert the temperature 9.5 as the first value in the list.
# Hint:
# * use the method:
#       insert
#   to insert a value before a given index/position

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# Confirm that there are now 11 values in the list and that the value 9.5 is the first one.
# Hint:
# * use the function:
#      len
#   to determine how many values in the list

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# Apparently your method of gathering the temperatures is less than perfect
# and it appears that the temperature 10.5 has only really occurred once, but
# has nonetheless been recorded twice in your records.  
# Programmatically find the second occurrence of this value and remove it from the list.
# Hint: 
# * use the method:
#      index
#   (use the help function to learn about the index method of your list)
#   to find the index of the first occurrence of that value in the list.
#   Then use that method again with an additional argument to indicate where to start searching
#   for the second occurrence. Remove that second occurrence from the list with the pop method.
#   (use the help function to learn about the pop method of your list)

# ADD YOUR CODE HERE

# Confirm the list will then have the following values:
#   [9.5, 10.1, 11.0, 10.5, 10.2, 10.8, 10.6, 10.8, 9.5, 8.3]

<hr>
<a name="humidity_readings"></a>
<b>Q: Humidity Readings</b>

In [ ]:
# There is a Python list containing values representing
# relative humidity readings that form part of an Air Quality Time Series
# (Source: https://www.kaggle.com/aayushkandpal/air-quality-time-series-data-uci)

relative_humidities = [48.9, 47.7, 54.0, 60.0, 59.6, 59.2, 56.8, 60.0, 59.7, 60.2, 
                       60.5, 56.2, 58.1, 59.6, 57.4, 60.6, 58.4, 57.9, 66.8, 76.4, 
                       81.1, 79.8, 71.2, 67.6, 64.2, 69.3, 67.8, 64.0, 63.4, 60.8,
                       58.5, 59.7, 61.8, 62.3, 65.9, 65.0, 62.9, 65.1, 63.1, 56.2]

# ------------------------------------------------------------------------
# Find the smallest and largest values in the list
# Hints:
# * use method:
#     min
#   and
#     max
#   or alternatively use the sort method to create a sorted list of items, 
#   then extract the first and last values.
# * the last value in a sequence can be referred to with position/index -1
#   or by using the index value of one less than the length of the list.

# ADD YOUR CODE HERE

In [ ]:
# ------------------------------------------------------------------------
# Print out the smallest three and the largest three values in the list
# Hints:
# * use the function sorted to create a sorted list of items, then slice it to extract the first three values.
# * or, use the list method sort to sort 'in place' the list of values.

# ADD YOUR CODE HERE

<a name="for_loops"></a>
# FOR loops

<hr>

<a name="find_maximum"></a>
<b>Q: Find Maximum Number</b>

In [ ]:
# Write a function that, given a list of numeric values, 
# returns the maximum value in that list. 
# raise a ValueError exception if the list is empty (just like the builtin max function)
# You must not use the built-in function:
#    max
# but rather iterate over the list of values
# to find the biggest one.

# WRITE YOUR FUNCTION HERE

In [ ]:
# test your function ...
find_maximum([3, 4, 2]) # should be 4

In [ ]:
find_maximum([23, 44, 200, 3021, 7891]) # should be 7891

In [ ]:
find_maximum([11, 11, 11, 11, 11, 11, 11]) # should be 11

In [ ]:
find_maximum([7]) # should be 7

In [ ]:
find_maximum([3, 5, -77, 9]) # should be 9

In [ ]:
find_maximum([3, 3.5, 7.12376, 1.119]) # should be 7.12376

In [ ]:
find_maximum([]) # should raise a ValueError

<a name="does_list_contain"></a>
<b>Q: Does List Contain...?</b>

In [ ]:
# Write a function that, given a list of values
# and a key value to search for, returns a Boolean value 
# representing whether the key is found in that list or not.  
# You must not use the built-in function operator:
#    in
# but rather you are to iterate over the list checking
# if any value in the list is the same as the key.

# WRITE YOUR FUNCTION HERE

In [ ]:
does_list_contain([3, 4, 2], 5) # should return False

In [ ]:
does_list_contain([7, 11, 14, 0.4, 111, 101], 7) # should return True

In [ ]:
does_list_contain([7, 11, 14, 0.4, 111, 101], 101) # should return True

In [ ]:
does_list_contain([7, 11, 14, 0.4, [111, 7], 101], [111, 7]) # should return True

In [ ]:
does_list_contain([7, 11, 14, 0.4, [111, 7], 101], [111, 7, 101]) # should return False

<a name="out_of_range"></a>
<b>Q: Out of Range?</b>

In [ ]:
# Write a Python predicate (a function that returns a Boolean value)
# that expects a list of numeric values, a lower bound and an upper bound,
# and returns True if there are any values in the list outside the range
# of the upper and lower bounds, otherwise returns False.
# Use a FOR loop, and a RETURN statement to exit the loop early
# to short-circuit the iteration where appropriate.

# WRITE YOUR FUNCTION HERE

In [ ]:
out_of_range([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # should be False

In [ ]:
out_of_range([0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7, 4], 0, 10) # should be False

In [ ]:
out_of_range([4, 8, 10, 23, 28, 66, 69, 77, 100], 1, 100) # should be False

In [ ]:
out_of_range([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # should be True

In [ ]:
out_of_range([], 1, 100) # should be False

<a name="filter_out_of_range_break"></a>
<b>Q: Filter Out of Range</b>

In [ ]:
# Modify your solution to the previous exercise so that, rather than
# finding out if there are any values in the list outside the range
# of the upper and lower bounds, returning a new list of those
# numbers, if any.

# WRITE YOUR FUNCTION HERE

In [ ]:
filter_out_of_range([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # Test 1
# should be []

In [ ]:
filter_out_of_range([0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7, 4], 2, 4) 
# should return [0.1, 9.9999999, 1, 0.9, 9, 5, 7, 7]

In [ ]:
filter_out_of_range([4, 8, 10, 23, 28, 66, 69, 77, 100], 1, 50) # Test 3
# should return [66, 69, 77, 100]

In [ ]:
filter_out_of_range([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # Test 4
# should return [0]

In [ ]:
filter_out_of_range([], 1, 100) # Test 5 - empty list
# should be []

<a name="in_range_break"></a>
<b>Q: In Range?</b>

In [ ]:
# Write a Python predicate (a function that returns a Boolean value)
# that expects a list of numeric values, a lower bound and an upper bound,
# and returns True if ALL values in the list are inside the range
# of the upper and lower bounds, otherwise returns False.
# Use a FOR loop, and exit the loop early - 
# to short-circuit the iteration where appropriate.

# WRITE YOUR FUNCTION HERE

In [ ]:
in_range_a([1, 9, 1, 9, 9, 5, 7, 7, 4], 0, 10) # should be True

In [ ]:
in_range_a([7], 7, 7) # should be True

In [ ]:
in_range_a([1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7], 1, 7) # should be False

In [ ]:
in_range_a([4, 8, 10, 23, 0, 28, 66, 69, 77, 100], 1, 100) # should be False

In [ ]:
in_range_a([], 0, 10) # should be True

<a name="map_sum"></a>
<b>Q: Map Sum</b>

In [ ]:
# Given a list of lists each containing numeric values, write a function 
# to return a new one-dimensional list containing the sum of the values in each of the sublists.
# Hint:
#   use the function
#       sum
#   to add up all numbers in a list

# WRITE YOUR FUNCTION HERE

In [ ]:
map_sum([[1, 3, 5]]) # Test 1 - single sublist
# should return [9]

In [ ]:
map_sum([[1, 3, 5], [2, 4, 6, 8]]) # Test 2 - two sublists
# should return [9, 20]

In [ ]:
map_sum([[1, 3, 5], [2, 4, 6, 8], [0], [9], [1]]) # Test 3 - many sublists
# should return [9, 20, 0, 9, 1]

In [ ]:
map_sum([[]]) # Test 4 - empty sublist
# should return [0]

# While Loops

In [ ]:
list = [24, 56, 34]

for element in list :
    print(element)

In [ ]:
# write a While loop equivalent to the for loop in the previous code block