In [1]:
import pandas

In [ ]:
dir(pandas)

In [ ]:
help(pandas.DataFrame)

In [6]:
# create a Pandas DataFrame based on data  from a dictionary ...

family = pandas.DataFrame(data = { "Name": ["Paul", "Phillip", "Lisa"], "Age": [52, 48, 46], "Sex": ["male", "male", "female"] })
family

      Name  Age     Sex
0     Paul   52    male
1  Phillip   48    male
2     Lisa   46  female

In [7]:
type(family)

pandas.core.frame.DataFrame

In [ ]:
# check what properties and methods exist for our family DataFrame
dir(family)

In [10]:
# how many rows and columns does the data frame have?
family.shape

(3, 3)

In [12]:
# what are the names and types of the columns?
family.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [13]:
# get summary information about the columns with numeric types
family.describe()

             Age
count   3.000000
mean   48.666667
std     3.055050
min    46.000000
25%    47.000000
50%    48.000000
75%    50.000000
max    52.000000